
$white: #fff;
$gray-100: #ebebeb;
$gray-200: #4e5d6c;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$blue: rgb(235, 125, 60);
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d9534f;
$orange: #f0ad4e;
$yellow: #f0ad4e;
$green: #5cb85c;
$teal: #20c997;
$cyan: #5bc0de;
$secondary: $gray-200;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: lighten($gray-200, 35%);
$dark: $gray-200;
$yiq-contrasted-threshold: 185;
$body-bg: rgb(34, 34, 34);
$body-color: $gray-100;
$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$text-muted: rgba(255,255,255,.4);
$table-accent-bg: rgba($white,.05);
$table-hover-bg: rgba($white,.075);
$table-border-color: rgba($black,.15);
$table-head-bg: $light;
$table-dark-bg: $light;
$table-dark-border-color: $gray-200;
$table-dark-color: $body-bg;
$input-disabled-bg: $gray-100;
$input-border-color: transparent;
$input-group-addon-color: $body-color;
$custom-file-button-color: $white;
$custom-file-border-color: $gray-200;
$dropdown-bg: $gray-200;
$dropdown-divider-bg: rgba($black,.15);
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $dropdown-link-color;
$dropdown-link-hover-bg: $table-hover-bg;
$nav-link-disabled-color: rgba(255,255,255,.4);
$nav-tabs-border-color: $gray-200;
$nav-tabs-link-active-color: $body-color;
$nav-tabs-link-active-border-color: $gray-200;
$navbar-padding-y: 0.25rem;
$navbar-dark-color: rgba($white,.75);
$navbar-dark-hover-color: $white;
$pagination-color: $white;
$pagination-bg: $gray-200;
$pagination-border-color: transparent;
$pagination-hover-color: $white;
$pagination-hover-bg: $nav-link-disabled-color;
$pagination-hover-border-color: $pagination-border-color;
$pagination-disabled-color: $nav-link-disabled-color;
$pagination-disabled-bg: $pagination-bg;
$pagination-disabled-border-color: $pagination-border-color;
$card-cap-bg: $table-hover-bg;
$card-bg: $gray-200;
$card-inner-border-radius: 0px;
$popover-bg: $gray-200;
$popover-header-bg: $table-hover-bg;
$toast-background-color: $gray-200;
$toast-border-color: rgba(0,0,0,.2);
$toast-header-color: $body-color;
$toast-header-background-color: $toast-background-color;
$toast-header-border-color: $toast-border-color;
$modal-content-bg: $gray-200;
$modal-header-border-color: rgba(0,0,0,.2);
$list-group-bg: $gray-200;
$list-group-border-color: transparent;
$list-group-hover-bg: $nav-link-disabled-color;
$list-group-disabled-color: $nav-link-disabled-color;
$list-group-action-color: $white;
$list-group-action-hover-color: $white;
$breadcrumb-divider-color: $body-color;
$breadcrumb-active-color: $body-color;
$pre-color: inherit;